.tasks-widget{
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: none;

    width: 100%;
    overflow: hidden;

    padding: 0.8rem;

    background-color: white;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.new-task{
    background: white;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    font-family: sans-serif, Helvetica,Arial;
    height: 2rem;
    width: 8rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition-duration: 0.4s;
}

.new-task:hover{
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
            0 4px 6px -2px rgba(0, 0, 0, 0.05);

}
    
.new-task:active{
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1); 
}