.weather-widget{
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 15px;
    border: none;

    width: 12rem;
    overflow: hidden;

    padding: 0.8rem;

    background-color: rgb(210, 236, 244);

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
